#comment
  %h2= comment.title
  by #{comment.editor} on #{comment.created_at}
  -if admin?
    .right
      = link_to "moderate comment", edit_lesson_comment_path(comment.lesson_id, comment.id)
    .clear
  %hr
  %p= comment.body
 
