= form_tag url_for(:controller => "comments", :action => "create", :lesson_id => @lesson.id) do
  = label :comment, :title, 'Title'
  %br
  = text_field :comment, 'title'
  %br
  = label :comment, :editor, 'Author'
  %br
  = text_field :comment, 'editor'
  %br
  = label :comment, :body, 'Comment'
  %br
  = text_area :comment, 'body'
  %br
  %br
  = submit_tag 'Submit Comment'

