#footer
   .float
      .content 
         %h2 Links
         = link_to 'main site', 'http://fsdinternational.org/'
         %br
         = link_to 'donate', 'http://fsdinternational.org/donate'
   .float
      .content
         %h2 Social Media
         = link_to 'facebook', 'https://www.facebook.com/foundation.for.sustainable.development'
         %br
         = link_to 'twitter', 'http://twitter.com/#!/infoFSD'
         %br
         = link_to 'youtube', 'http://www.youtube.com/fsdinternational'
         %br
         = link_to 'linkedin', 'http://www.linkedin.com/groups?gid=111574&mostPopular=&trk=tyah'
   .float
      .content
         %h2 Contact Us
         = link_to 'info@fsdinternational.org', 'mailto:info@fsdinternational.org'
         %br
         %br
         1000 Brannan St, Suite 207
         %br
         San Francisco, CA 94103
   .clear
