#header
  = link_to image_tag('/assets/logo.gif'), 'http://fsdinternational.org'
  = link_to image_tag('/assets/donatemap_orange.png', :id => 'donate'), 'https://fsdinternational.secure.force.com/donation'
  = link_to image_tag('/assets/facebook-logo.png', :class => 'sm_button'), 'http://www.facebook.com/Foundation.for.Sustainable.Development'
  = link_to image_tag('/assets/twitlogo.png', :class => 'sm_button'), 'http://twitter.com/#!/infoFSD'
  = link_to image_tag('/assets/youtubelogo.png', :class => 'sm_button'), 'http://www.youtube.com/user/FSDInternational'
  = link_to image_tag('/assets/linkedin-logo.png', :class => 'sm_button'), 'http://www.linkedin.com/groupInvitation?groupID=111574&sharedKey=78062C18E873&goback=%2Esrp_1_1213183747021_in'
  .clear
