#left_sidebar
  -if !@user.nil?
    %h2 Admin Control Panel
    .navlink= link_to "Create Lesson", new_lesson_path
    .navlink= link_to "Edit Lesson", edit_lesson_path(@lesson)
    .navlink= link_to "Delete Lesson", lesson_path(@lesson), :method => :delete, :confirm =>'Are you sure?'
    .navlink= link_to "Upload Prezi", new_lesson_prezi_path(@lesson)
    .navlink= link_to "Upload Video", new_lesson_video_path(@lesson)
    .navlink= link_to "Upload Document", new_lesson_document_path(@lesson)
    .navlink= link_to "Logout", logout_path
    %br
  %h2 Navigation
  - if !@lessons.empty?
    - @lessons.each do |lesson|
      - if @lesson == lesson
        .navlink_highlighted= link_to "#{lesson.title} >>", lesson_path(lesson)
      - else
        .navlink= link_to "#{lesson.title}", lesson_path(lesson)
  .navlink= link_to "Return to Resource Center Home", root_path
  %br
