#wrapper
  = render :partial => "shared/head"
  = render :partial => "shared/navigation_reorder"
  #main
    .content
      %h1 Reorder #{component}
      - if flash[:notice] != nil
        %br
        #notice.message= flash[:notice]
      - elsif flash[:warning] != nil
        %br 
        #warning.message= flash[:warning]
      %table
        %thead
          %tr.title 
            %th.title= "#{component}"
                  
        %tbody#components
          - if components.empty?
            %tr 
              %td= "There currently no #{component} available for this lesson." 
          - else
            - components.each do |component|
              %tr{:class => "lessons", :id=> "#{component.id}"}
                %td.lessons= "#{component.title}"      
  .clear
  %br
  = render :partial => "shared/footer"

- content_for :head do  
  %script{:charset => "utf-8", :type => "text/javascript"}
    $(document).ready(function() {
    $('#components').tableDnD({
    onDrop: function(table, row){
    $.ajax({
    type: "POST",
    url: "#{url_for(:action => 'sort')}",
    processData: false,
    data: $.tableDnD.serialize() + '&authenticity_token=' + encodeURIComponent("#{form_authenticity_token if protect_against_forgery?}")
       
    });
    }  
    });
    });
