#wrapper
  = render :partial => "shared/head"
  #main
    .content
      - if flash[:notice]
        #notice.message= flash[:notice]
      %h1 Add a document to #{@lesson_title}
      %p On the Google docs page for the document click File, then click publish to the web. Copy the link under Document Link and enter it below.
      %hr
      = form_tag lesson_documents_path do
        = label :document, :url, 'URL'
        %br
        = text_field :document, 'url'
        %br
        %br
        = label :document, :title, 'Enter a title for this document. This title will not be displayed except for when you choose to reorder documents in a lesson.'
        %br
        = text_field :document, 'title'
        %br
        %br
        = submit_tag 'Upload Document'
  #right_sidebar
    .content
      -if @user.nil?
        %h2 admin control panel
        %p= link_to "Logout", "/auth/admin/logout"
        %hr
      %h2 navigation
      %p= link_to "Return Home", "/"
  .clear
  = render :partial => "shared/footer"
  
         
