#wrapper
  = render :partial => "shared/head"
  #main
    .content
      %h1 Edit Lesson
      %hr
      - if flash[:notice] != nil
        #notice.message= flash[:notice]
        %br
      - elsif flash[:warning] != nil
        #warning.message= flash[:warning]
        %br
      = form_tag lesson_path(@lesson), :method => :put do
        = label :lesson, :title, 'Title'
        %br
        = text_field :lesson, 'title'
        %br
        %br
        = label :lesson, :description, 'Description'
        %br
        = text_area :lesson, 'description'
        %br
        %br
        = submit_tag 'Save Changes'
  #right_sidebar
    .content
      -if !@user.nil?
        %h2 admin control panel
        %p= link_to "Logout", "/auth/admin/logout"
        %hr
      %h2 navigation
      %p= link_to "Return Home", "/"
  .clear
  = render :partial => "shared/footer"
