#content 
   %img{:src=> "/assets/comingsoon.png", :id=> "comingsoon"}
   #sm_buttons
      = link_to image_tag('/assets/facebook-logo.png'), 'https://www.facebook.com/foundation.for.sustainable.development'
      = link_to image_tag('/assets/twitlogo.png'), 'http://www.twitter.com/infoFSD'
      = link_to image_tag('/assets/youtubelogo.png'), 'http://www.youtube.com/user/FSDInternational'
      = link_to image_tag('/assets/linkedin-logo.png'), 'http://www.linkedin.com/groupInvitation?groupID=111574&sharedKey=78062C18E873&goback=%2Esrp_1_1213183747021_in'
   = link_to 'fsdinternational.org', 'http://fsdinternational.org'