#wrapper
   = render :partial => "shared/head"
   .content
      %h1 Welcome to FSD Training Center
      %img{:src => "/assets/trainingcenter_banner.jpg"}
      - if flash[:notice] != nil
         %br
         #notice.message= flash[:notice]
      - elsif flash[:warning] != nil
         %br 
         #warning.message= flash[:warning]
      #main
         %p FSD reduces global poverty by providing over 300 grassroots community organizations around the world with training and key resources to address pressing socioeconomic issues.
         %p The FSD Training Center is an online e-learning center that provides pre-departure training online for students across the United States. Documents, presentations, and videos are organized by lesson to create a classroom-like experience.
         .title Lessons
         - if @lessons.empty?
            %p There currently no lessons available. Please check back later.
         - else
            %ul
               - @lessons.each do |lesson|
                  %li
                     = link_to "#{lesson.title}", lesson_path(lesson)
      #right_sidebar
         - if !@user.nil?
            %h2 admin control panel
            %p
               = link_to "Create Lesson", new_lesson_path
               %br
               = link_to "Logout", logout_path
            %hr
         %h2 facebook
         %p
            Stay updated with our
            = link_to 'Facebook page', 'https://www.facebook.com/foundation.for.sustainable.development'
         %hr
         %h2 twitter
         %p
            Follow our tweets on our
            = link_to 'Twitter account', 'http://www.twitter.com/infoFSD'
   .clear

   = render :partial => "shared/footer"
