#fb-root
:javascript
   (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

#wrapper
   = render :partial => "shared/head"
   .content
      %img{:src => "/assets/#{@banner}"}
      %h1 Welcome to the FSD Resource Center
      - if flash[:notice] != nil
         #notice.message= flash[:notice]
      - elsif flash[:warning] != nil
         #warning.message= flash[:warning]
      #left_sidebar
         - if !@user.nil?
            %h2 Admin Control Panel
            .navlink= link_to "Create Lesson", new_lesson_path
            .navlink= link_to "Reorder Lessons", lessons_reorder_path
            .navlink= link_to "Logout", logout_path
            %br
         %h2 Facebook
         .fb-like-box{"data-border-color" => "#c2ad99", "data-header" => "false", "data-height" => "300", "data-href" => "http://www.facebook.com/Foundation.for.Sustainable.Development", "data-show-faces" => "true", "data-stream" => "true", "data-width" => "225"}
         %br
         %br
         %br
         %hr
         %h2 Twitter
         %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
         :javascript
            new TWTR.Widget({
               version: 2,
               type: 'profile',
               rpp: 5,
               interval: 30000,
               width: 225,
               height: 200,
               theme: {
                  shell: {
                     background: '#c2ad99',
                     color: '#000000'
                  },
                  tweets: {
                     background: '#f2eeda',
                     color: '#000000',
                     links: '#e37226'
                  }
               },
               features: {
                  scrollbar: true,
                  loop: false,
                  live: true,
                  behavior: 'all'
               }
            }).render().setUser('infoFSD').start();
         %br
      #main
         %p FSD reduces global poverty by providing over 300 grassroots community organizations around the world with training and key resources to address pressing socioeconomic issues.
         %p The FSD Resource Center is an online e-learning center that provides pre-departure training online for university students and young professionals. Documents, presentations, and videos are organized by lesson to create a classroom-like experience.
         %table
            %thead
               %tr.title 
                  %th.title Lessons
            %tbody#lessons
               - if @lessons.empty?
                  %tr 
                     %td There currently no lessons available. Please check back later.
               - else
                  - @lessons.each do |lesson|
                     %tr{:class => "lessons", :id=> "#{lesson.id}"}
                        %td.lessons= link_to "#{lesson.title} >>", lesson_path(lesson)  
         %br
   .clear

   = render :partial => "shared/footer"
