#wrapper
  = render :partial => "shared/head"
  #main
    .content
      %h1 Create a new lesson
      = form_tag lessons_path do
        = label :lesson, :title, 'Title'
        %br
        = text_area :lesson, 'title'
        %br
        %br
        = label :lesson, :description, 'Description'
        %br
        = text_area :lesson, 'description'
        %br
        %br
        = submit_tag 'Save Changes'
  .clear
  = render :partial => "shared/footer"
 
