#wrapper
  = render :partial => "shared/head"
  .content
    .content
      %img{:src => "/assets/#{@banner}"}
      %h1= @lesson.title
      - if flash[:notice] != nil
        #notice.message= flash[:notice]
      - elsif flash[:warning] != nil
        #warning.message= flash[:warning]
    = render :partial => "shared/navigation"
    #main
      %h2 Description
      %p= @lesson.description
      %hr
      - if @prezis.empty? and @videos.empty? and @documents.empty?
        %p There are no prezis, videos, or documents uploaded to this lesson.   
      - if not @prezis.empty?    
        #prezis
          %h2 Prezis
          - if !@user.nil?
            = link_to "Reorder Prezis", lesson_prezis_path(@lesson.id)
          - @prezis.each do |prezi|
            = render :partial => 'prezis/prezi_player', :locals => {:url => prezi.url}
            - if !@user.nil?
              %br
              = link_to "Delete Prezi", lesson_prezi_path(@lesson.id, prezi.id), :method => :delete, :confirm => 'Are you sure?' 
              %br
              %br
      - if not @videos.empty?
        #videos
          %h2 Videos
          - if !@user.nil?
            = link_to "Reorder Videos", lesson_videos_path(@lesson.id)
            %p There are currently no videos uploaded for this lesson.
          - @videos.each do |video|
            = render :partial => 'videos/youtube_video', :locals => { :url => video.url }
            -if !@user.nil?
              %br
              = link_to "Delete Video", lesson_video_path(@lesson.id, video.id), :method => :delete, :confirm =>'Are you sure?'
              %br
              %br
      - if not @documents.empty?
        #documents
          %h2 Documents
          - if !@user.nil?
            = link_to "Reorder Documents", lesson_documents_path(@lesson.id)
          - @documents.each do |doc|
            = render :partial => 'documents/doc_iframe', :locals => { :url => doc.url}
            -if !@user.nil?
              %br
              = link_to "Delete Document", lesson_document_path(@lesson.id, doc.id), :method => :delete, :confirm => 'Are you sure?'
              %br
              %br
      #comments
        = render :partial => "comments/comment_feed"
  .clear
  = render :partial => "shared/footer"
