#wrapper
  = render :partial => "shared/head"
  #main
    .content
      %h1= @lesson.title
      - if flash[:notice] != nil
        #notice.message= flash[:notice]
      - elsif flash[:warning] != nil
        #warning.message= flash[:warning]
      %hr
      %h2 Description
      %p= @lesson.description
      %hr
      %h2 Documents
      %p There are currently no documents uploaded for this lesson.
      %h2 Prezis
      %p There are currently no prezis uploaded for this lesson.
      %h2 Videos
      - @videos.each do |video|
        = render :partial => 'videos/youtube_video', :locals => { :url => video.url }
      %hr
      %h2 Comments
      %p This functionality is under construction.
  #right_sidebar
    .content
      -if @user.nil?
        %h2 admin control panel
        %p
          = link_to "Edit Lesson", edit_lesson_path(@lesson)
          %br
          = link_to "Delete Lesson", lesson_path(@lesson), :method => :delete, :confirm =>'Are you sure?'
          %br
          Upload Document
          %br
          Upload Prezi
          %br
          = link_to "Upload Video", new_lesson_video_path(@lesson)
          %br
          Logout
        %hr
      %h2 navigation
      %p= link_to "Return Home", "/"
  .clear
  = render :partial => "shared/footer"
