#wrapper
  = render :partial => "shared/head"
  .content
    .content
      #lesson_title= @lesson.title
      %img{:src => "/assets/#{@banner}"}
      - if flash[:notice] != nil
        %br
        #notice.message= flash[:notice]
      - elsif flash[:warning] != nil
        %br
        #warning.message= flash[:warning]
    #main
      %h2 Description
      %p= @lesson.description
      %hr
      #documents
        %h2 Documents
        - if @documents.empty?
          %p There are currently no documents uploaded for this lesson.
        - @documents.each do |doc|
          = render :partial => 'documents/doc_iframe', :locals => { :url => doc.url}
          -if !@user.nil?
            %br
            = link_to "Delete Document", lesson_document_path(@lesson.id, doc.id), :method => :delete, :confirm => 'Are you sure?'
            %br
            %br
             
      #prezis
        %h2 Prezis
        - if @prezis.empty?
          %p There are currently no prezis uploaded for this lesson.
        - @prezis.each do |prezi|
          = render :partial => 'prezis/prezi_player', :locals => {:url => prezi.url}
          - if !@user.nil?
            %br
            = link_to "Delete Prezi", lesson_prezi_path(@lesson.id, prezi.id), :method => :delete, :confirm => 'Are you sure?' 
            %br
            %br
      #videos
        %h2 Videos
        - if @videos.empty?
          %p There are currently no videos uploaded for this lesson.
        - @videos.each do |video|
          = render :partial => 'videos/youtube_video', :locals => { :url => video.url }
          -if !@user.nil?
            %br
            = link_to "Delete Video", lesson_video_path(@lesson.id, video.id), :method => :delete, :confirm =>'Are you sure?'
            %br
            %br
      #comments
        = render :partial => "comments/comment_feed"
        %br
    #right_sidebar
      -if !@user.nil?
        %h2 admin control panel
        %p
          = link_to "Edit Lesson", edit_lesson_path(@lesson)
          %br
          = link_to "Delete Lesson", lesson_path(@lesson), :method => :delete, :confirm =>'Are you sure?'
          %br
          = link_to "Upload Document", new_lesson_document_path(@lesson)
          %br
          = link_to "Upload Prezi", new_lesson_prezi_path(@lesson)
          %br
          = link_to "Upload Video", new_lesson_video_path(@lesson)
          %br
          %p= link_to "Logout", logout_path
        %hr
      %h2 navigation
      %p= link_to "Return Home", root_path
  .clear
  = render :partial => "shared/footer"
