#wrapper
  = render :partial => "shared/head"
  #main
    .content
      - if flash[:notice] != nil
        #notice.message= flash[:notice]
        %br
      - elsif flash[:warning] != nil
        #warning.message= flash[:warning]
        %br
      %h1= @lesson.title
      %hr
      %h2 Description
      %p= @lesson.description
      %hr
      %h2 Documents
      %p There are currently no documents uploaded for this lesson.
      %h2 Prezis
      %p There are currently no prezis uploaded for this lesson.
      %h2 Videos
      %p There are currently no videos uploaded for this lesson.
      %hr
      %h2 Comments
      %p This functionality is under construction.
  .clear
  = render :partial => "shared/footer"
